[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vimfiles"]
	path = vimfiles
	url = https://github.com/jshafton/vimfiles.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
